<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="测试套件" >
    <test name="测试">
        <classes>
            <class name="com.test.day10.testcases.OrderPayTest2"/>
            <class name="com.test.day10.testcases.OrderPayTest"/>
            <class name="com.test.day10.testcases.AddCartTest"/>
            <class name="com.test.day10.testcases.LoginTest"/>
            <class name="com.test.day10.testcases.RegisterTest"/>
            <class name="com.test.day10.testcases.SearchProductTest"/>
            <class name="com.test.day10.testcases.UserProfileSettingTest"/>
        </classes>
    </test>
</suite>